html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header{
    background-color: white;
    flex: 0 0 auto;
    height: 105px; 
}

.container{
    background-color: #ede9e9;
    flex: 8.25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.logo{
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

table {
    margin: 20px;
    width: 100%;
}

td {
    border: 3px solid #449ab4;
    padding: 10px;
    word-wrap: break-word;
    max-width: 300px;
    font-size: 0.7rem;
    background-color: white;
}